body{
    font-family:Arial, Helvetica, sans-serif;
    margin: 60px;
  }
  
  .para,
  .small-para {
    color: hsl(0, 0%, 0%);
    font-weight: 800;
  }
  
  .para {
    font-size: 36px;
    
  }
  
  .small-para {
    font-size: 18px;
    
  }
  
  .confirm-button .cancel-button {
    font-size: 36px;
  }

  .confirm-button {
    background: green;
    color: white;
    font-weight: bold;
  }

  .cancel-button {
    background-color: white;
  }

  .confirm {
    background: green;
    color: white;
    font-weight: bold;
    font-size: 36px;
  } 

  .cancel {
    background: white;
    font-size: 36px;
  }

  
  
  /* Remove this as contradict specificity

  .button {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-size: 20px;
  }
  */

  .child {
    color: rgb(0, 0, 0);
    font-weight: 100;
    
  }
  

  .text {
    color: rgb(0, 0, 0);
    font-size: 24px;
   
  }

  .text .child {
    font-weight: 800;
    font-size: 18px;
    
  }